@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
		--shades: #404040;
		--tiger: #c76a00;
		--antiwhite: #f1f2f6;
		--sunglow: #ffcb47;
		--sunglow-dark: #e6b63e;
		--sunglow-light: #ffdb7b;
		--sunglow-lighter: #fff1c4;
		--sunglow-lightest: #fff9e6;
		--sunglow-darkest: #b38e2d;
		--sunglow-darker: #d9a93a;
		--sunglow-dark: #e6b63e;
		--ebony: #4a5043;
		--ebony-dark: #3f4538;
		--ebony-light: #5a5f52;
		--ebony-lighter: #6b6f61;
		--cadetgray: #8aa1b1;
		--cadetgray-dark: #7f8f9e;
		--cadetgray-light: #9cb4c2;
		--lightblue: #9ac2c9;
		--lightblue-dark: #8fb7be;
		--lightblue-light: #a6ccd3;
		--celadon: #b9d8c2;
		--cambridgeblue: #94b9af;
		--raisinblack: #2e2d2e;
		--glaucous: #6b7fd7;
		--frenchgray: #d3cdd7;
		--frenchgray-dark: #c8c2cc;
		--frenchgray-light: #ded8e2;
		--frenchgray-lighter: #eae4ee;
		--frenchgray-lightest: #f5eff9;
		--frenchgray-darkest: #a39da7;
		--frenchgray-darker: #b8b2bc;
		--frenchgray-dark: #c8c2cc;

		--nonphotoblue: #bcedf6;
		--sienna: 11 79% 32%;
		--brown: #a3320b;
	}

	.dark {
		--background: 252 7% 15%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.placeholder {
		@apply bg-background text-muted;
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(2);
	}
}

.zoom-effect {
	animation: zoomIn 30s ease-in-out forwards infinite;
}

.emoji-flip {
	display: inline-block;
	transform: scaleX(-1);
}

.emoji-rotate-90 {
	display: inline-block;
	transform: rotate(90deg);
}

.emoji-rotate-180 {
	display: inline-block;
	transform: rotate(180deg);
}

.emoji-rotate-270 {
	display: inline-block;
	transform: rotate(270deg);
}
